    
    <!DOCTYPE html>
    <html>
    <head>
      <meta charset="UTF-8">
      <title>{% block title %}Welcome!{% endblock %}</title>

      {% block stylesheets %}
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
      <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js">
      
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
      </script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="/asset/style.css">
      
      {% endblock %}
    </head>
    <body>
     
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto " >
     {% for type in types %}
            <li class="nav-item dropdown"> 
                <a href="{{ path('home') }}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ type.name }}</a> 
                
           <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              {% for category in type.categories %}
                <a class="dropdown-item" href="{{ path('home') }}">{{ category.name }}</a>
                <ul>
                  {% for sub_category in category.subCategories %}
                <li><a lass="dropdown-item" href="{{ path('sub_category_home',{'id':sub_category.id}) }}">{{ sub_category.name }}</a>

        {% endfor %}
        </li>
                </ul>
            </li>
         {% endfor %}
        </ul> 
        {% endfor %}
    </ul>
      </div> 
      
           
      <a class="btn btn-info" href="" style="border:1px solid black;">Panier</a>
            
        
    
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/register">Inscription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Connexion</a>
      </li>
    </ul>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <div class="logo">
      <a class="navbar-brand" href=" /">My R$M </a>
    </div>
    
        {% block body %}{% endblock %}
    
  {% block javascripts %}
  {% endblock %}

  </body>
  </html>
